/* ===========================
   Global Layout
=========================== */
html,
body {
    max-width: 100%;
    /* overflow-x: hidden; */
}

html {
    scrollbar-gutter: stable both-edges;
}

#root {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* padding: 1rem; */
}

/* ===========================
   Typography
=========================== */
h1 {
    margin: 0;
    font-size: 2.5em;
}

.read-the-docs {
    color: #888;
}

/* ===========================
   Components
=========================== */

/* Sidebar / Profile */
.self-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 256px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #8389fa, #1a1a1a);
    z-index: 100;
    border-radius: 10px;
}

@media (max-width: 1200px),
(max-width: 480px) {
    .self-info {
        position: static;
        width: 100%;
        margin-bottom: 1rem;
    }
}

/* Carousel */
.carousel-container {
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    overflow: hidden;
}

.carousel-item {
    max-width: 100%;
}

@media (min-width: 1200px) {
    .react-multi-carousel-list {
        max-width: 700px;
        padding-bottom: 22px;
    }
}

/* Cards */
.card {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    column-gap: 1em;
}

.card .button {
    width: auto;
}

@media (min-width: 500px) {
    .card {
        flex-direction: row;
    }
}

/* Logos */
.logo {
    height: 6em;
    padding: 1.5em;
    border-radius: 100px;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

/* ===========================
   Animations
=========================== */
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}